RehndaSettings(
    scene: CornellBox,
    output_file: Some("image.ppm"), // ppm extended file name to output to
    num_samples: 4096,
    num_threads: None,  // None let's rehnda pick optimal
    image_width: 600, // num pixels wide
    max_depth: 30,
    camera_settings: (
        aspect_ratio: (
            width: 1.0,
            height: 1.0
        ),
        aperture: 0.0,
    )
)