RehndaSettings(
    scene: CornellSmoke,
    output_file: Some("image.jpeg"), // ppm extended file name to output to
    num_samples: 1028,
    num_threads: None,  // None let's rehnda pick optimal
    image_width: 400, // num pixels wide
    max_depth: 30,
    camera_settings: (
        aspect_ratio: (
            width: 1.0,
            height: 1.0
        ),
        aperture: 0.0,
    )
)